.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--modal-z-index);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 1em 2em;
    border: 1px solid black;
    border-radius: 0.3em;
    width: 70%;
}

.modal__header {
    display: flex;
    font-size: 1.5em;
    padding: 0.3rem 0;
}

.modal__body {
    padding: 0.3rem 0;
}

.modal__footer {
    padding: 0.3rem 0;
}

.modal__close {
    margin-left: auto;
}

.modal__close:hover {
    cursor: pointer;
}
