@font-face {
    font-family: "PTSans";
    src: local("PTSans"),
        url(../assets/fonts/PTSans/PTSans-Regular.ttf) format("truetype");
}

*,
*:after,
*:before {
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color-light: #f9f9f9;
    --bg-color-dark: #f2f2f2;
    --bg-color-darker: #dcdcdc;

    --warning-color: #f0ad4e;
    --danger-color: #d9534f;
    --success-color: #5cb85c;
    --info-color: #5bc0de;
    --link-default: #337ab7;
    --link-hover: #23527c;
    --link-active: #cc8548;

    --highlight-bg-color: #6082b6;
    --highlight-bg-color-light: #708ebd;
    --highlight-text-color: #eee;

    --default-bg-color: #eee;
    --default-text-color: #333;
    --default-border-color: #8b8a8b;

    --light-border-color: rgba(0, 0, 0, 0.2);

    --calendar-header-date-width: 15ch;

    --table-border-size: 1px;

    --window-bg-color: #6082b6dd;
    --window-text-color: #eee;
    --window-bar-size: 1em;
    --window-border-color: var(--default-border-color);

    --modal-z-index: 2;

    --tooltip-bg-color: #000;
    --tooltip-text-color: #fff;
    --tooltip-width: 4em;
    --tooltip-font-size: 0.8em;
    --tooltip-z-index: 1;

    --button-bg-color: var(--bg-color-dark);
    --button-bg-color--hover: var(--bg-color-darker);
    --button-bg-color--active: #eee;
    --button-border-color: var(--default-border-color);
    --button-border-radius: 0.3em;
}

input[type="submit"],
button {
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 0.5em 1em;
    outline: 0;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: var(--button-bg-color--hover);
}

input[type="submit"]:active,
button:active {
    background-color: var(--button-bg-color--active);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

textarea {
    resize: none;
}

button,
input,
textarea {
    font-family: inherit;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    color: var(--default-text-color);
    background: var(--default-bg-color);
}

.app {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 270px repeat(5, 1fr);
    grid-template-rows: 40px auto;
    grid-template-areas:
        "header  header header header header header"
        "sidebar main   main   main   main   main";
}
