@font-face {
    font-family: "PTSans";
    src: local("PTSans"),
        url(../assets/fonts/PTSans/PTSans-Regular.ttf) format("truetype");
}

*,
*:after,
*:before {
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color-light: #f9f9f9;
    --bg-color-dark: #f2f2f2;
    --bg-color-darker: #dcdcdc;

    --warning-color: #f0ad4e;
    --danger-color: #d9534f;
    --success-color: #5cb85c;
    --info-color: #5bc0de;
    --link-default: #337ab7;
    --link-hover: #23527c;
    --link-active: #cc8548;

    --highlight-bg-color: #6082b6;
    --highlight-bg-color-light: #708ebd;
    --highlight-text-color: #eee;

    --default-bg-color: #eee;
    --default-text-color: #333;

    --muted-text-color: #888;
    --input-border-color: #8b8a8b;
    --light-border-color: rgba(0, 0, 0, 0.2);

    --calendar-header-date-width: 15ch;

    --table-border-size: 1px;

    --event-interval-bg-color: #6082b6;
    --event-interval-text-color: #eee;
    --event-interval-bar-size: 2em;
    --event-interval-z-index: 1;

    --modal-z-index: 2;

    --tooltip-bg-color: #000;
    --tooltip-text-color: #fff;
    --tooltip-width: 4em;
    --tooltip-font-size: 0.8em;
    --tooltip-z-index: 1;
}

button,
input {
    font-family: inherit;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    color: var(--default-text-color);
    background: var(--default-bg-color);
}

.app {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(40px, 4%) 96%;
    grid-template-areas:
        "header  header header header header header"
        "sidebar main   main   main   main   main";
}
