.month-view {
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.month-view__row {
    min-width: 1200px;
}

.month-view__event,
.month-view__day {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--table-border-size) solid var(--light-border-color);
    border-right: var(--table-border-size) solid var(--light-border-color);
}

.month-view__event__text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.month-view__header {
    border-bottom: var(--table-border-size) solid var(--light-border-color);
    flex: 0 0 50px;
    min-width: 450px;
}
