.new-event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.4em;
}

.new-event__from,
.new-event__to {
    grid-column: 1 / 3;
}

.new-event__btn {
    grid-column: 1 / 2;
}
