.popover {
    --arrow-width: 1rem;
    --arrow-height: calc(var(--arrow-width) / 2);

    position: absolute;
    width: auto;
    background-color: #fefefe;
    color: var(--default-text-color);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
    border-radius: 0.3em;
    padding: 0.7em;
    z-index: 1;
}

.popover--top {
    bottom: calc(100% + var(--arrow-height));
}

.popover--top:after {
    position: absolute;
    top: 100%;
    left: calc(50% - var(--arrow-width) / 2);
    content: "";
    border-left: calc(var(--arrow-width) / 2) solid transparent;
    border-right: calc(var(--arrow-width) / 2) solid transparent;
    border-top: var(--arrow-height) solid #fefefe;
}

.popover--bottom {
    top: calc(100% + var(--arrow-height));
}

.popover--bottom:before {
    position: absolute;
    bottom: 100%;
    left: calc(50% - var(--arrow-width) / 2);
    content: "";
    border-left: calc(var(--arrow-width) / 2) solid transparent;
    border-right: calc(var(--arrow-width) / 2) solid transparent;
    border-bottom: var(--arrow-height) solid #fefefe;
}
