.window {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    /* z-index: var(--window-z-index); */
    background: var(--window-bg-color);
    color: var(--window-text-color);
    opacity: 1;
}

.window__bar-top {
    width: 100%;
    height: var(--window-bar-size);
    margin-bottom: auto;
}

.window__bar-top:hover {
    cursor: row-resize;
}

.window__bar-bottom {
    width: 100%;
    height: var(--window-bar-size);
    margin-top: auto;
}

.window__bar-bottom:hover {
    cursor: row-resize;
}
