.window {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    background: var(--window-bg-color);
    color: var(--window-text-color);
    border: 1px solid var(--window-border-color);
    border-radius: 0.1em;
}

.window__bar-top {
    width: 100%;
    height: var(--window-bar-size);
    margin-bottom: auto;
}

.window__bar-top:hover {
    cursor: row-resize;
}

.window__bar-bottom {
    width: 100%;
    height: var(--window-bar-size);
    margin-top: auto;
}

.window__bar-bottom:hover {
    cursor: row-resize;
}
