.day-view {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.day-view__row {
    min-width: 1200px;
}

.day-view__time,
.day-view__event {
    border-right: var(--table-border-size) solid var(--light-border-color);
    border-bottom: var(--table-border-size) solid var(--light-border-color);
}

.day-view__time {
    text-align: center;
    flex: 0 0 130px;
}

.day-view__event--whole-day {
    position: relative;
}

.day-view__header {
    border-bottom: var(--table-border-size) solid var(--light-border-color);
    flex: 0 0 50px;
    min-width: 450px;
}

.day-view__row--anchor {
    flex: 0;
}

.day-view__time--anchor {
    border: 0;
}

.day-view__event--anchor {
    position: relative;
    border: 0;
}
